[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pandas = "*"
black = "*"
pillow = "*"
pip = "*"
install = "*"
mnemonic = "*"

[dev-packages]

[requires]
python_version = "3.10"
